body  {background: rgb(196, 219, 91);}
    table {
        text-align: center;
        background: #791717;
        border: #1900f7 solid 10px;
        margin: auto;
width: 50%; 
height: 620px;
font-size: 400%;
 }
    